@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96%;
    --foreground: 60 7% 8%;
    --card: 240 10% 96%;
    --card-foreground: 60 7% 8%;
    --popover: 240 10% 96%;
    --popover-foreground: 60 7% 8%;
    --primary: 103 17% 36%;
    --primary-foreground: 240 10% 96%;
    --secondary: 240 10% 88%;
    --secondary-foreground: 265 30% 8%;
    --muted: 240 10% 90%;
    --muted-foreground: 263 30% 31%;
    --accent: 240 10% 88%;
    --accent-foreground: 265 30% 8%;
    --destructive: 353 70% 35%;
    --destructive-foreground: 240 9% 87%;
    --border: 240 9% 71%;
    --input: 240 9% 71%;
    --ring: 103 17% 36%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 9% 11%;
    --foreground: 60 7% 92%;
    --card: 240 8% 23%;
    --card-foreground: 240 8% 83%;
    --popover: 240 10% 20%;
    --popover-foreground: 240 10% 67%;
    --primary: 87 37% 58%;
    --primary-foreground: 100 18% 10%;
    --secondary: 263 29% 36%;
    --secondary-foreground: 265 30% 92%;
    --muted: 240 9% 29%;
    --muted-foreground: 240 9% 82%;
    --accent: 240 10% 38%;
    --accent-foreground: 240 14% 97%;
    --destructive: 353 70% 39%;
    --destructive-foreground: 355 67% 96%;
    --border: 240 9% 29%;
    --input: 240 9% 29%;
    --ring: 102 18% 30%;
  }
}

@layer base {
  @media screen and (min-width: theme("screens.md")) {
    html {
      font-size: 18px;
    }
  }

  /* @media screen and (min-width: theme("screens.lg")) { */
  /*   html { */
  /*     font-size: 20px; */
  /*   } */
  /* } */

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1,
      "ss02" 1;
  }
}
